a {
    color: #000000 !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover{
	font-size: 15px;
	color: #fdfdfd !important;
}
body{
    background-image: url(images/361643.jpg);
	background-size: 1700px
}

.active{
	color:#FFC0CB;
}


.h1{
	
	color:#FFC0CB;
	width: 36%;
    margin-top: 100px;
   
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	
}

.navbar-default .navbar-brand {
 color: #fdfdfd;
}
.table{
	
	text-align: center;
	margin-top: 100px;
	margin-left: auto;
    margin-right: auto;
}

th{
	color: #FFC0CB;
	padding: 30px;

}

td{
	color: #FFFFFF;
	padding: 30px;
}

#footer {
   position:absolute;
   bottom:0;  
   width:100%;
   height:100px;  
}

#button {
	margin-left: 1200px;
}
